.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown select {
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    outline: none;
    cursor: pointer;
  }
  
  .dropdown select:hover {
    border-color: #999;
  }
  
  .dropdown select:focus {
    border-color: #555;
  }
  
  .dropdown select option {
    font-size: 16px;
  }

  /* .input {
    width: 75%;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 4px;
    margin-bottom: 8px;
  } */